# macOS
.DS_Store

# dataset
dataset/sku-1kimg-1
dataset/sku-gap-700img-1
dataset/goods-and-gaps-chinese-2

# training
artifacts
train/yolo11m.pt
train/yolo26n.pt
train/yolov8m.pt

# python
.venv
venv
__pycache__