# macOS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dataset
dataset/sku-1kimg-1
dataset/sku-gap-700img-1

# training
artifacts

# python
.venv
venv
__pycache__

# frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*.local
frontend/pnpm-lock.yaml
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.env
frontend/.env.*.local

# frontend logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# backend
backend/.env
backend/.env.*.local
backend/pnpm-lock.yaml
backend/node_modules
backend/dist
backend/dist-ssr
backend/*.local
backend/.env
backend/.env.*.local
backend/logs
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*
backend/lerna-debug.log*
backend/.next
